<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gpioConnection" type="Raspberry.IO.GeneralPurpose.Configuration.GpioConnectionConfigurationSection, Raspberry.IO.GeneralPurpose" />
  </configSections>

  <gpioConnection 
    boardRevision="auto"
    pollInterval="50"
    driver="Raspberry.IO.GeneralPurpose.MemoryGpioConnectionDriver, Raspberry.IO.GeneralPurpose" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
